@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}


/* Override the default InfoWindow styles */
.gm-style-iw {
  background-color: #0052FF !important;
  color: #fff !important;
  padding: 0px !important;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.gm-style-iw button {
  /*color: #333;*/ /* Style buttons inside InfoWindow if any */
}

.gm-style-iw-d {
  overflow: hidden !important; /* Fix for content overflow */
}

.gm-ui-hover-effect {
  color: #fff;
}